html {
    scroll-behavior: smooth;
}

body{
    background-color: #686D76;

	margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;

    background: linear-gradient(#686D76, #373A40);
    background-repeat: no-repeat; /* KEEP THIS! Without this, the gradient repeats*/
    background-attachment: fixed;

    color: aliceblue;

    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.heading{
    background-color: #EEEEEE;
    color: #373A40;

    width: 100%;
	padding: 0px;
    margin: auto;
	overflow: hidden;

    text-align: center;
}

.TopNav{
    width: 100%;
	padding: 0px;

	padding-top: 1%;
	padding-bottom: 1%;

	margin: auto;
	overflow: hidden;

	align-items: center; /* centers elements*/
    text-align: center;
    display: block; 

	/* STICK TO TOP OF PAGE */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    /*  */

    list-style: none;

    background-color: #EEEEEE;
    color: #373A40;
}

.TopNav a{
    display: inline-block;
    padding-right: 3%;
    font-size: large;
}

/* Footer color: #DC5F00 */

.container{
    display: grid;
    justify-content: center;
    place-items: center; /* grid */

    grid-gap: 5em;

    /* FLEX DISPLAY:
        justify-content: center; || affects the x-axis
        align-itmes: center;    || affects the y-axis
    */
}

/* HOME PAGE */

.Home{
    /* width: 50%; */
    /* centering  */
    /* margin: 0 auto;
    position: absolute;
    position: relative;

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    /* END */

    align-items: center;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* NEW CENTERING */
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto; */
}

.interestingProjects{
    background-color:  #a8a19c ;
    width: 75%;

    align-items: center;
    text-align: center;

    /* GRID STUFF */
    display: grid;
    justify-content: center;
    place-items: center; 
    grid-gap: 2em;

    /* Border */
    border-radius: 5px;
}

.interestingProjects li{
    list-style: none;
    padding-bottom: 10%;

    color: #373a3f;

    /* GRID STUFF
    display: grid;
    justify-content: center;
    place-items: center;  */
}

.Title_{
    background-color: #373A40;
    border-radius: 5px;
    width: fit-content;
    padding: 1%;
}

.smallIMG{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.p_med{
    background-color: #ffffff;
    border-radius: 5px;
    /* width: fit-content; */
    font-size: larger;

    width: 50%;
    height: 50%;
    margin: 0 auto;
    
    /* padding: 1%; */
    margin-bottom: 1%;
}