html {
    scroll-behavior: smooth;
}

body{

	margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;

    /* NEW */
    background-color: #000000 !important;

    color: aliceblue;

    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    /* background-color: #EEEEEE; */
    background-color: #f8f9fa;

    color: #373A40;

    width: 100%;
	padding: 0px;
    margin: auto;
	overflow: hidden;

    text-align: center;
}

/* BOOTSTRAP CUSTOMIZATIONS */
.nav-link{
    font-size: larger;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none; /* Remove underline */

    color: #000000;
    /* CSS has no effect on the bootstrap's item sadly. The colour doesn't change */
    /* Background colour works though */
}

.nav-link a:hover{
    color: #ffffff;
    text-decoration: none;
}

.collapsing { 
    transition-duration: 0s 
  }


/* HOME PAGE */

.Home{
    align-items: center;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.interestingProjects{
    background-color:  #DEF2F1 ;
    width: 75%;

    align-items: center;
    text-align: center;

    /* GRID STUFF */
    display: grid;
    justify-content: center;
    place-items: center; 
    grid-gap: 2em;

    /* Border */
    border-radius: 5px;
}

.interestingProjects li{
    list-style: none;
    padding-bottom: 10%;

    color: #373a3f;
}

.Title_{
    background-color: #575e6a;
    border-radius: 5px;

    padding: 1%;

    color: white;

    text-align: center;
    justify-content: center;
}

.Title_S{
    background-color: #373A40;
    border-radius: 5px;

    padding: 1%;

    color: white;

}

.smallIMG{
    margin: 0 auto;

    height: 100%;
    width: 100%;
}

.img-responsive{
    width: 100%;
}


.p_med{
    /* background-color: #ffffff; */
    background-color:  #3AAFA9 ;
    color: #17252A;

    border-radius: 5px;

    font-size: large;

    margin: 0 auto;
    
    padding: 1%;
    margin-bottom: 1%;
}

/* PROJECTS PAGE */

/* RSI */
#linkedIn_RSI{
    background-color: #695a67 !important;
    padding-top: 20px;
    padding-bottom: 1px;
    border-radius: 20px;
}

#linkedIn_RSI a{
    background-color: #02fff2 !important;
}

#linkedIn_RSI p{
    color: white;
    text-shadow: 2px 2px 4px #000000;

    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Trading Hub */
#tradingHubZA_telegram{
    background-color: #695a67 !important;
}

#tradingHubZA_telegram p{
    color: white;
    text-shadow: 2px 2px 4px #000000;

    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}